/*Links*/
nav{
    display: flex;
    justify-content: space-evenly;
}

nav .divlink{
    background-color: var(--blue);
    color: white;
    font-size: 30px;

    width: 80px;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
}


/* Information*/

.information-container{
    font-size: 18px;
    text-align: left;

    display: flex;
    justify-content: center;
}

.vl{
   border-left: 6px solid black;
   height: 125px;
   margin: 0 30px;
}

.hl{
    display: none;
}

.information table{
    width: 300px;
}

.information table tr td:first-child{
    width: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .vl{
        display: none;
    }

    .information-container{
        flex-direction: column;
    }

    .col2{
        margin-top: 10px;
    }
}

/*Timeline*/

.timeline-container{
    display: flex;
    justify-content: center;
}

.line{
    position: absolute;
    border-left: 6px solid black;
    height: 2500px;
    margin: 0 30px;
}

.timeline .jaar{
    font-size: 22px;
    font-weight: 600;

}

.timeline-cards{
    display: flex;
    flex-direction: column;
}

.timeline img{
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: gray 0 2px 5px;
}

.timeline p {
    margin: 15px;
}

.timeline .title{
    font-weight: 500;
    font-size: 18px;
}

@media only screen and (min-width: 920px) {
    .timeline .jaar{
        position: relative;
        width: min-content;
        left: 50%;
        right: 50%;
    }

    .timeline .jaar.left{
        transform: translate(-100px);
    }

    .timeline .jaar.right{
        transform: translate(50px);
    }

    .timeline .card{
        width: 400px;
        min-height: 250px;
        height: auto;
        box-shadow: gray 10px 10px 10px;
        border: 1px solid gray;
        border-radius: 15px;
    }

    .timeline .card.left{
        margin: 20px 0px;
    }

    .timeline .card.right{
        margin: 20px 0 20px auto;
    }
}

@media only screen and (max-width: 920px) {
    .line{
        left: calc(100vw*0.05);
        height: 2350px;
    }

    .timeline .jaar{
        text-align: left;
        position: relative;
        left: calc(100vw*0.1);
    }

    .timeline .card{
        align-self: center;

        margin: 20px 50px;
        width: 60vw;
        min-height: 250px;
        height: auto;
        box-shadow: gray 10px 10px 10px;
        border: 1px solid gray;
        border-radius: 15px;
    }
}