@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root{
 --blue: #26547c;
 --beige: #e3e7d3;
}

html{
    font-family: 'Fredoka', sans-serif;
    scroll-behavior: smooth;
}

body{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    margin-top: 50px;
    font-weight: 500;
}

strong{
    font-weight: normal;
}

.listblank{
    list-style: none;
    padding: 0;
}

.ablank{
    color: black;
    text-decoration: none;
}

section{
    margin-bottom: 50px;
}